body {
    font-family: Arial, sans-serif;
    margin:0;
    background:#0d0d0d;
    color:white;
}

header {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:20px;
    background:black;
}

.logo {
    text-align:center;
    margin:20px 0;
}

nav {
    order:-1;
    display:flex;
    gap:20px;
    margin-bottom:10px;
}

nav a {
    color:#00ffd5;
    text-decoration:none;
}

.hero {
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(black,#111);
}

section {
    padding:60px 20px;
    max-width:900px;
    margin:auto;
}

.project-card {
    background:#1a1a1a;
    padding:20px;
    margin:20px 0;
    border-left:4px solid #00ffd5;
    transition:0.3s;
}

.project-card:hover {
    transform:scale(1.03);
}
footer {
    text-align:center;
    padding:20px;
    background:black;
}
.project-card{
    display:block;
    padding:20px;
    margin:15px 0;
    background:#111;
    color:white;
    text-decoration:none;
    border-radius:12px;
    transition:0.3s ease;
}

.project-card:hover{
    transform:translateY(-8px);
    background:#1c1c1c;
}
.best-fit{
    opacity:0;
    transform:translateY(80px);
    transition:all 1s ease;
}

/* animation active */
.best-fit.show{
    opacity:1;
    transform:translateY(0);
}
